@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	background-color: white;
	font-family: "Arial Narrow";
}

svg {
/*	border-style: solid;
	border-width: 1px;*/
	margin: auto;
	opacity: 0.7;
}

#nav {
	background-color: white;
	width: 100%;
	height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);*/
	background-position: bottom;
	background-size: 40px 2px;
	background-repeat: repeat-x;
}

#nav a{
	float: left;
	padding: 20px;
	width: 15%;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #660000;
	line-height: 160px;
}

#nav a:hover{
	color: grey;
}

#logo {
	height: 130px;
}

#content {
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	font-size: 18px;
	padding-bottom: 100px;
}

#content h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #660000;
}

ul {
	list-style: none;
}

/* Month header */
#cal_head {
    padding: 70px 15px;
    width: 90%;
/*    border-style: solid;
    border-width: 1px;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin: auto;
}

/* Month list */
#cal_head ul {
    margin: 0;
    padding: 0;
}

#cal_head ul li {
    color: #660000;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
#cal_head #prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
#cal_head #next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

#weekdays li {

    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
#days {
    padding: 10px 0;
    margin: 0;
    width: 90%;
    margin: auto;
}

#days li {
	border-style: solid;
    border-width: 1px;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
#days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

a {
	display: block;
	width: 100%;
	height: 100%;
}

a img {
	width: 100%;
	height: 100%;

}

/*#month_nav {
	margin: auto;
	width: 90%;
	text-align: center;
	color: #660000;
	font-family: ;
}

table {
  background: #fff;
  border-collapse: collapse;
  color: #222;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  width: 80%;
}

td {
  border: 1px solid #ccc;
  color: #444;
  text-align: center;
  height: 100px;
  width: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #660000;
}

td:hover {
	background-color: #f5f5f5;
}

#month {
	
}

#prev {
	padding-top: 40px;
	float: left;
}

#next {
	padding-top: 40px;
	float: right;
}

.mnav {
	display: inline-block;
}*/

hr {
  border:none;
  border-top:2px dotted #660000;
  color:#fff;
  background-color:#fff;
  height:2px;
  width:90%;
}



