body {
	background-color: white;
	font-family: "Arial Narrow";
}

.blurb {
	overflow: hidden;
	text-align: justify;
}

#content {
	margin-left: 7%;
	margin-right: 30px;
	font-family: Helvetica;
	color: black;
	font-size: 18px;
	width: 65%;
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 40px 2px;
	background-repeat: repeat-x;
}

#content h2 {
	font-size: 40px;
	color: #660000;
}

#content h3 {
	color: #660000;
}

#content a {
	color: #660000;
}

#content .author {
	line-height: 250%;
	padding-bottom: 10px;
	color: rgba(102,0,0, .8);
}

#header {
	text-align: center;
	padding: 10px;
	font-size: 25px;
	background-color: #ff99ff;
}

#header a{
	color: white;
	text-decoration: none;	
}

h1 {
	color: #660000;
	font-size: 30px;
}

#last-week{
	margin-left: 7%;
	margin-right: 30px;
	font-family: Helvetica;
	color: black;
	font-size: 18px;
	width: 65%;
	float: left;
	padding-top: 20px;
	padding-bottom: 40px;
}

#last-week .heading{
	text-align: center;
	font-size: 22px;
	color: rgba(102,0,0, .8);
	padding-bottom: 20px;
}

#last-week img {
	width: 30%;
	margin-left: 3%;
	float: left;
	border-color: rgba(102,0,0, .6);
	border-style: solid;
	border-width: .5px;
}

#logo {
	height: 150px;
}

.main-story {
	overflow: hidden;
	position: relative;
	margin-bottom: 35px;
	max-height: 390px;
	padding: 5px;
}

.main-story .author{
	line-height: 100%
}

.main-story .text{
	float: left;
	margin-right: 5%;
	width: 35%;
}

.main-story img {
	height: 100%;
	float: right;
	position: absolute;
}

#nav {
	background-color: white;
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 40px 2px;
	background-repeat: repeat-x;
}

#nav a{
	float: left;
	padding: 20px;
	width: 15%;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 25px;
	color: #660000;
	line-height: 160px;
}

#nav a:hover{
	color: grey;
}

#nav a#current {
	background-color: #99ccff;
	color: grey;
}

#nav a#current:hover {
	color:grey;
}


.sidebar {
	float: right;
	min-height: 100px;
	border-style: solid;
	border-width: .5px;
	width: 14%;
	margin-right: 7%;
	border-color: rgba(102,0,0, .6);
	margin-top: 40px;
	border-radius: 8px;
	padding: 18px;
	text-align: left;
	color: #660000;
}
.sidebar .heading {
	text-align: center;
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 1.5px;
	padding-bottom: 15px;
}

.sidebar .title{
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 150%
}

.sidebar .author {
	padding-bottom: 20px;
}

.sidebar .commenter {
	display: inline;
	line-height: 150%;
}
.sidebar .comment {
	display: inline;
	margin-bottom: 10px;
	color: black;
	line-height: 150%;
	position: relative;
}

.sidebar .more {
	display: inline;
	float: right;
}

.sidebar img {
	width: 100%
}

.story {
	width: 49.5%;
	display: inline-block;
}

.story img {
	width: 100%;
	border-style: solid;
	border-width: .25px;
	border-color: rgba(102,0,0, .6);
}

.story h1 {
	font-size: 25px;
}

.story .left {
	float: left;
	margin-right: 5%;
}

.story .right {
	float: left;
	margin-left: 5%;
}

.sub-stories {
	margin-bottom: 0px;
}

/*RMS*/

#latest_articles{
	background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);
	background-position: top;
	background-size: 40px 2px;
	background-repeat: repeat-x;
	margin-top: 20px;
	padding-top: 5px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial Narrow, 'Tahoma', 'Helvetica Neue', Helvetica;
}

.mini_article{
	display:table;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e6e6e6;
}
#latest_articles h2{
	font-size: 30px; 
}

.mini_article a{
	text-decoration: none;
}
.mini_article img{
	position: relative;
	display: table-cell;
	width:300px;
	height:200px;
	object-fit: cover;
	margin: 0;
	padding: 0;
}
.mini_article_text{
	position: relative;
	vertical-align: top;
	padding-left: 20px;
	padding-top: 20px;
	display: table-cell;
	margin:0px;
}
.mini_article_text h3{
	margin: 0;
}
.mini_article_text h5{
	margin: 0;
}
.mini_article_text p{
/*	position: absolute;
	bottom: 0;*/
	display: inline-block;
	vertical-align: bottom;
	bottom: 0;
	color: ;
	padding-top: 70px;
}

.author{
	position: relative;
	display: inline-block;
}
.author img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.author_bio{
	display: none;
	z-index: 1;
	width:200px;
	height:200px;
	position: absolute;
	top: 0;
	text-align: center;
	background-color: rgba(102, 0, 0, .6);
	color: #fff;
}
#author_container{
	padding-top: 40px;
}
#nav_bar_button{
	display: none;
	position:absolute;
	bottom:0;
	padding-bottom: 60px;
	right: 0;
}
#nav_links{
	display: none;
}
#nav_links ul{
	list-style-type: none;
	text-align: center;
}
#nav_links a{
	display: block;
	padding-top: 10px;
	padding-right: 50px;
	width: 100%;
	height: 40px;
	text-decoration: none;
	background-color: #660000;
	color: #fff;
}

/*mobile*/
@media screen and (max-width: 1024px) {
    .sidebar{
        display: none;
    }

    #calender{
    	display: none;
    }
    #categories{
    	display: none;
    }
    #funnyGirls{
    	display: none;
    }
    #about{
    	display: none;
    }
    #nav_bar_button{
    	display:block;
    }
}
