body {
	background-color: white;
	font-family: "Arial Narrow";
}

.blurb {
	overflow: hidden;
	text-align: justify;
}

#content {
	margin-left: 7%;
	margin-right: 30px;
	font-family: Helvetica;
	color: black;
	font-size: 18px;
	width: 65%;
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 40px 2px;
	background-repeat: repeat-x;
}

#content h2 {
	font-size: 40px;
	color: #660000;
}

#content h3 {
	color: #660000;
}

#content a {
	color: #660000;
}

#content .author {
	line-height: 250%;
	padding-bottom: 10px;
	color: rgba(102,0,0, .8);
}

#header {
	text-align: center;
	padding: 10px;
	font-size: 25px;
	background-color: #ff99ff;
}

#header a{
	color: white;
	text-decoration: none;	
}

h1 {
	color: #660000;
	font-size: 30px;
}

#last-week{
	margin-left: 7%;
	margin-right: 30px;
	font-family: Helvetica;
	color: black;
	font-size: 18px;
	width: 65%;
	float: left;
	padding-top: 20px;
	padding-bottom: 40px;
}

#last-week .heading{
	text-align: center;
	font-size: 22px;
	color: rgba(102,0,0, .8);
	padding-bottom: 20px;
}

#last-week img {
	width: 30%;
	margin-left: 3%;
	float: left;
	border-color: rgba(102,0,0, .6);
	border-style: solid;
	border-width: .5px;
}

#logo {
	height: 150px;
}

.main-story {
	overflow: hidden;
	position: relative;
	margin-bottom: 35px;
	max-height: 390px;
	padding: 5px;
}

.main-story .author{
	line-height: 100%
}

.main-story .text{
	float: left;
	margin-right: 5%;
	width: 35%;
}

.main-story img {
	height: 100%;
	float: right;
	position: absolute;
}

#nav {
	background-color: white;
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 40px 2px;
	background-repeat: repeat-x;
}

#nav a{
	float: left;
	padding: 20px;
	width: 15%;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 25px;
	color: #660000;
	line-height: 160px;
}

#nav a:hover{
	color: grey;
}

#nav a#current {
	background-color: #99ccff;
	color: grey;
}

#nav a#current:hover {
	color:grey;
}


.sidebar {
	float: right;
	min-height: 100px;
	border-style: solid;
	border-width: .5px;
	width: 14%;
	margin-right: 7%;
	border-color: rgba(102,0,0, .6);
	margin-top: 40px;
	border-radius: 8px;
	padding: 18px;
	text-align: left;
	color: #660000;
}
.sidebar .heading {
	text-align: center;
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 1.5px;
	padding-bottom: 15px;
}

.sidebar .title{
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 150%
}

.sidebar .author {
	padding-bottom: 20px;
}

.sidebar .commenter {
	display: inline;
	line-height: 150%;
}
.sidebar .comment {
	display: inline;
	margin-bottom: 10px;
	color: black;
	line-height: 150%;
	position: relative;
}

.sidebar .more {
	display: inline;
	float: right;
}

.sidebar img {
	width: 100%
}

.story {
	width: 49.5%;
	display: inline-block;
}

.story img {
	width: 100%;
	border-style: solid;
	border-width: .25px;
	border-color: rgba(102,0,0, .6);
}

.story h1 {
	font-size: 25px;
}

.story .left {
	float: left;
	margin-right: 5%;
}

.story .right {
	float: left;
	margin-left: 5%;
}

.sub-stories {
	margin-bottom: 0px;
}

